<nav class="z-40 bg-white shadow dark:bg-gray-800 fix-top-nav" *ngIf="userSession">
    <div class="container px-6 py-4 mx-auto">
        <div class="md:flex md:items-center md:justify-between">
            <div class="flex items-center justify-between">
                <div class="text-xl font-semibold text-gray-700">
                    <a class="text-2xl font-bold text-amber-600 transition-colors duration-200 transform dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300"
                        href="#">Brew Beer OK</a>
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden " (click)="showHamburger = !showHamburger">
                    <button type="button"
                        class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
                        aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="flex-1 md:flex md:items-center md:justify-between z-40"
                [ngClass]="showHamburger ? 'block' : 'hidden'">
                <div class="flex flex-col -mx-4 md:flex-row md:items-center md:mx-8">
                    <a routerLink="/recipes"
                        class="px-2 py-1 mx-2 mt-2 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded-md md:mt-0 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700">
                        My Recipes</a>
                    <a routerLink="/equipments"
                        class="px-2 py-1 mx-2 mt-2 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded-md md:mt-0 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700">
                        My Equipments</a>
                    <a routerLink="/ingredients/add"
                        class="px-2 py-1 mx-2 mt-2 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded-md md:mt-0 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700">
                        My Ingredients</a>
                    <a routerLink="/chronology"
                        class="px-2 py-1 mx-2 mt-2 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded-md md:mt-0 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700">
                        My chronology </a>
                    <a routerLink="/brewtoday"
                    class="px-2 py-1 mx-2 mt-2 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded-md md:mt-0 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700">
                    What should I brew today?</a>
                    <a (click)="logOut()"
                        class=" md:hidden px-2 py-1 mx-2 mt-2 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded-md md:mt-0 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700">
                        Logout</a>
                </div>


                <div class="flex items-center mt-4 md:mt-0  ">

                    <div class="relative md:inline-block hidden">
                        <!-- Dropdown toggle button -->
                        <button (click)="menu.toggle($event)" type="button"
                            class="flex items-center focus:outline-none  " aria-label="toggle profile dropdown">
                            <p-avatar
                                styleClass="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full bg-gray-400 text-gray-900"
                                label="{{ userSession.firstname?.charAt(0)}}{{ userSession.surname?.charAt(0)}}"
                                size="small" shape="circle"></p-avatar>

                            <h3 class="mx-2 text-sm font-medium text-gray-700 dark:text-gray-200 ">
                                {{ userSession.firstname }} {{ userSession.surname }}
                            </h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<p-menu #menu [popup]="true" [model]="menuProfile"></p-menu>
