<div class="flex w-screen max-w-md mx-auto overflow-hidden bg-white rounded-lg border-2 dark:bg-gray-800">
    <div class="w-1/3 bg-cover" [ngStyle]="{'background-color': recipe?.color || '#c68543' }"
        style="border-right: 1px solid #e4e8ee;background-image: url('./../../../assets/schiuma.png')">
    </div>

    <div class="w-2/3 p-4 md:p-4">
        <h1 class="text-2xl font-bold text-gray-800 dark:text-white">{{recipe?.title}}</h1>

        <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
            {{recipe?.description}}
        </p>
        <div style=" padding: 8px; margin-top: 8px; margin-bottom: 8px; border: 1px solid #4CAF50;
            " class="bg-white rounded-lg">
            <h1>Ingredienti </h1>
            <br>
            <div *ngFor="let ingredient of recipe?.ingredients; let i = index">
                <ol>
                    <li class="flex text-base text-body-color mb-4">
                        <span class="
                               bg-primary
                               text-black
                               rounded
                               mr-2
                               text-base
                               flex
                               items-center
                               justify-center
                               h-6
                               max-w-[24px]
                               w-full
                               background-color:bg-blue-600
                               ">
                            {{i}}
                        </span>
                        {{ingredient.name}}
                    </li>
                </ol>
            </div>
        </div>


        <!--TODO gestire stelle-->
        <div class="flex mt-2 item-center">
            <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>
        </div>

        <div class="flex justify-end mt-3 item-center">
            <div class="mr-1">
                <button routerLink="/recipes/{{ recipe?._id }}/edit"
                    class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-blue-800 rounded dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-600 focus:outline-none focus:bg-blue-700 dark:focus:bg-blue-600">
                    Modifica
                </button>
            </div>
            <div class="mr-1">
                <button (click)="deleteRecipe(recipe?._id)"
                    class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-red-800 rounded dark:bg-red-700 hover:bg-red-700 dark:hover:bg-red-600 focus:outline-none focus:bg-red-700 dark:focus:bg-red-600">
                    Elimina
                </button>
            </div>
            <div>
                <button (click)="brewRecipe(recipe!._id)" [disabled]="!canBrewRecipe"
                    class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-green-800 rounded dark:bg-green-700 hover:bg-green-700 dark:hover:bg-green-600 focus:outline-none focus:bg-green-700 dark:focus:bg-green-600">
                    Brew
                </button>
            </div>
        </div>
    </div>
</div>
