<div class="flex w-screen max-w-md mx-auto overflow-hidden bg-white rounded-lg border-2 dark:bg-gray-800">
  <div class="w-1/3">
    <div class="container-beer-sm">
      <div class="borderbox-sm">
        <div class="glass-sm" [ngStyle]="{'background-color': recipe?.color || '#c68543' }">
          <div class="inner-sm"
               style="transform: scale(0.3); width: 400px;height: 100%;background-image: url('./../../../assets/schiuma.png')"
               [ngStyle]="{'background-color': recipe?.color || '#c68543' }">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-2/3 p-4 md:p-4">
    <div class="flex">
      <div class="w-11/12">
        <h1 class="text-2xl font-bold text-gray-800 dark:text-white">{{recipe?.title}}</h1>
      </div>
      <div class="w-1/12">
        <div class='has-tooltip'>
          <span *ngIf="bestCandidateId && recipe?._id === bestCandidateId" class='tooltip rounded shadow-lg p-1 text-white -mt-8'
                style="background: #374151; font-size: 12px; padding: 5px 8px 5px 9px;">La birra più efficiente che puoi produrre</span>
          <svg *ngIf="bestCandidateId && recipe?._id === bestCandidateId"
               class="w-5 h-5 text-amber-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
          </svg>
        </div>
      </div>
    </div>


    <p class="mt-2 text-xs text-gray-600 dark:text-gray-400">
      Ingredienti
    </p>
    <div class="grid grid-cols-1 mt-1">
      <span class=" text-xs"> {{ getNameIngredients()?.join(", ") ?? "-" }} </span>
    </div>
    <div class="grid grid-cols-1 mt-1" *ngIf="isChronology">
      <span class=" text-xs"> {{ recipe?.createdAt | date:'short' }} </span>
    </div>

    <div class="flex justify-end mt-3 item-center" *ngIf="!isChronology">
      <div class="mr-1" *ngIf="!bestCandidateId">
        <button routerLink="/recipes/{{ recipe?._id }}/edit"
                class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-blue-800 rounded dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-600 focus:outline-none focus:bg-blue-700 dark:focus:bg-blue-600">
          Modifica
        </button>
      </div>
      <div class="mr-1" *ngIf="!bestCandidateId">
        <button (click)="deleteRecipe(recipe?._id)"
                class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-red-800 rounded dark:bg-red-700 hover:bg-red-700 dark:hover:bg-red-600 focus:outline-none focus:bg-red-700 dark:focus:bg-red-600">
          Elimina
        </button>
      </div>
      <div>

        <div class='has-tooltip'>
          <span *ngIf="!canBrew" class='tooltip rounded shadow-lg p-1 text-white -mt-8'
                style="background: #374151; font-size: 12px; padding: 5px 8px 5px 9px;">Non hai gli ingredienti per produrre!</span>
          <button (click)="brewRecipe(recipe!._id)" [disabled]="!canBrew"
                  class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-amber-600 rounded dark:bg-amber-700 hover:bg-amber-700 dark:hover:bg-amber-600 focus:outline-none focus:bg-amber-700 dark:focus:bg-amber-600 disabled:bg-amber-200">
            Brew
          </button>
        </div>


      </div>
    </div>
  </div>
</div>
