<nav class="z-40 bg-white shadow dark:bg-gray-800 mb-2" style="margin-top: -14px;">
  <div class="container px-6 mx-auto">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex items-center justify-between">
        <div class="flex items-center py-4 overflow-y-auto whitespace-nowrap">
          <a class="text-gray-600 dark:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
            </svg>
          </a>

          <span class="mx-5 text-gray-500 dark:text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"/>
            </svg>
        </span>

          <ng-container *ngFor="let item of items">
            <a
               [ngClass]="item.current ? 'text-blue-600 dark:text-blue-400 ' : 'text-gray-600 dark:text-gray-200'"
               class="hover:underline" (click)="goBack.emit(item.current)">
              {{item.label}}
            </a>

            <span class="mx-5 text-gray-500 dark:text-gray-300" *ngIf="!item.current">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"/>
            </svg>
        </span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
