<section class="max-w-4xl p-6 mx-auto bg-white rounded-md border-2 dark:bg-gray-800">
    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Aggiungi nuova ricetta</h2>

    <form>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="title">Titolo</label>
                <input id="title" name="title" type="text" required [(ngModel)]="recipe.title"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="description">Descrizione</label>
                <input id="description" name="description" type="text" required [(ngModel)]="recipe.description"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>

            <p-dropdown id="color" name="color" [options]="colors" [(ngModel)]="selectedColor" optionLabel="name"
                [showClear]="true" placeholder="Selezione colore">
                <ng-template pTemplate="selectedItem">
                    <div class="color-item color-item-value" *ngIf="selectedColor">
                        <div style="height: 20px; width: 20px;" [ngStyle]="{'background': selectedColor.code }"></div>
                        <div>{{selectedColor.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-color pTemplate="item">
                    <div class="color-item">
                        <div style="height: 20px; width: 20px;" [ngStyle]="{'background': color.code }"></div>
                        <div>{{color.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>

        </div>

        <div class="flex justify-end mt-6">
            <button
                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-500 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
                (click)="goBack()">Annulla</button>
            <button
                class="ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-700 rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600"
                (click)="saveRecipe()">Salva</button>
        </div>
    </form>
</section>