<!--<ng-container *ngIf="showBreadcrumbs">-->
<!--  <app-breadcrumbs [editMode]="editMode" (goBack)="goBack()" currentPosition="Ingredienti" [showCurrent]="false"></app-breadcrumbs>-->
<!--</ng-container>-->

<section class="max-w-4xl pt-5 pb-5 mx-auto">
  <div class="grid grid-cols-2 gap-6 sm:grid-cols-2">
    <div>
      <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">
        Ingredienti
      </h1>
    </div>
    <div>
      <div class="flex justify-end">
        <button (click)="showModalDialog()"
                class="ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-amber-500 rounded-md hover:bg-amber-600 focus:outline-none focus:bg-amber-700">
          <span>Aggiungi</span>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="max-w-4xl mx-auto bg-white rounded-md ring-1 ring-gray-300 dark:bg-gray-800">
  <ng-container *ngIf="_ingredients && _ingredients.length > 0; else noElements">
    <p-table styleClass="rounded-md" [value]="_ingredients" dataKey="_id" editMode="row" responsiveLayout="scroll"
      class="rounded-md" [scrollable]="false">
      <ng-template pTemplate="header">
        <tr>
          <th id="th_ingredient_type">Type</th>
          <th id="th_ingredient_name">Name</th>
          <th id="th_ingredient_quantity">Quantity</th>
          <th id="th_ingredient_opt"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ingredient let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="ingredient">
          <td>{{ ingredient.type | titlecase }}</td>
          <td>{{ingredient.name | titlecase}}</td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber [(ngModel)]="ingredient.quantity" mode="decimal" [minFractionDigits]="2"  [maxFractionDigits]="2" [showButtons]="false" [min]="0">
                </p-inputNumber>
              </ng-template>
              <ng-template pTemplate="output">
                {{ingredient.quantity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(ingredient)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="onRowEditSave(ingredient)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onRowEditCancel(ingredient, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-template #noElements>
    <div class="container px-6 py-8 mx-auto">
      <div class="text-center">
        <a href="#"
          class="text-2xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">Nessun
          elemento</a>

        <p class="max-w-md mx-auto mt-2 text-gray-500 dark:text-gray-400">Aggiungi un elemento alla lista</p>

        <div class="flex flex-col mt-4 sm:flex-row sm:items-center sm:justify-center">
          <button (click)="showModalDialog()"
            class="flex items-center justify-center  ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-amber-500 rounded-md hover:bg-amber-600 focus:outline-none focus:bg-amber-700">
            <span>Aggiungi</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</section>

<ng-container *ngIf="model">
  <p-dialog [(visible)]="displayModal" [style]="{width: '550px', height: model.type ? '634px' : '450px'}"
            header="Aggiungi Ingrediente"
            [modal]="true" [draggable]="false" [resizable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
        <div>
          <label class="text-gray-700 dark:text-gray-200">Tipologia</label>
          <div class="block w-full mt-1 focus:outline-none">
            <p-dropdown [autoDisplayFirst]="false" placeholder="Seleziona il tipo" styleClass="w-full" [options]="types"
                        [(ngModel)]="model.type"
                        (onChange)="onChangeType()">
              <ng-template pTemplate="selectedItem">
                <div *ngIf="model.type">
                  <div>{{ model.type  | titlecase }}</div>
                </div>
              </ng-template>
              <ng-template let-types pTemplate="item">
                <div>{{ types | titlecase }}</div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <ng-container *ngIf="model.type && model.type">
          <div>
            <label class="text-gray-700 dark:text-gray-200">Nome</label>
            <div class="block w-full mt-1 focus:outline-none" *ngIf="!loadData">
              <app-drop-down-ingredient [type]="model.type" (selectedIngredient)="setNameSelected($event)">
              </app-drop-down-ingredient>
            </div>
          </div>

          <div class="grid">
            <div class="col-12">
              <label for="quantity" class="text-gray-700 dark:text-gray-200">Quantità</label>
              <div class="p-inputgroup">
                <p-inputNumber id="quantity" [(ngModel)]="model.quantity" mode="decimal" [minFractionDigits]="2"  [maxFractionDigits]="2" [showButtons]="false" [min]="0"></p-inputNumber>
                <span class="p-inputgroup-addon">oz</span>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="displayModal=false"
              class="ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-500 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-700">
        <span>Annulla</span>
      </button>
      <button (click)="onSubmit()"
              class="ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-amber-500 rounded-md hover:bg-amber-600 focus:outline-none focus:bg-amber-700 disabled:bg-amber-200"
              [disabled]="isDisabled()">
        <span>Aggiungi</span>
      </button>
    </ng-template>
  </p-dialog>
</ng-container>
