<div class="flex w-screen max-w-md mx-auto overflow-hidden bg-white rounded-lg border-2 dark:bg-gray-800">
    <div class="w-2/3 p-4 md:p-4">
        <!-- TODO Manca il titolo in equipment modficare il modello in base a come gestiamo il DB -->
        <h1 class="text-2xl font-bold text-gray-800 dark:text-white">{{equipment}}</h1>
        <div class="flex mt-2 item-center">
            <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                <path
                    d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>
        </div>

        <div class="flex justify-end mt-3 item-center">
            <div class="mr-1">
                <!-- TODO Gestire la modifica  -->
                <button routerLink="/equipment/{{ equipment?._id }}/edit"
                    class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-blue-800 rounded dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-600 focus:outline-none focus:bg-blue-700 dark:focus:bg-blue-600">
                    Modifica
                </button>
            </div>
            <div>
                <button (click)="null"
                    class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-red-800 rounded dark:bg-red-700 hover:bg-red-700 dark:hover:bg-red-600 focus:outline-none focus:bg-red-700 dark:focus:bg-red-600">
                    Elimina
                </button>
            </div>
        </div>
    </div>
</div>
