<div class="bg-white shadow dark:bg-gray-800 bg-white dark:bg-gray-800 z-20" style="margin-top: -12px;">
    <div class="container flex items-center px-6 py-4 mx-auto overflow-y-auto whitespace-nowrap">
        <div
            class="flex p-1 overflow-hidden border rounded-lg dark:border-gray-600 dark:focus-within:border-blue-300 focus-within:ring focus-within:ring-opacity-40 focus-within:border-blue-400 focus-within:ring-blue-300">
            <input placeholder="Cerca..." [(ngModel)]="title"
                class="w-screen px-6 py-2 text-gray-700 placeholder-gray-500 bg-white outline-none dark:bg-gray-800 dark:placeholder-gray-400 focus:placeholder-transparent dark:focus:placeholder-transparent"
                type="text" name="title" aria-label="Cerca..." (keyup.enter)="searchTitle()">

            <button (click)="searchTitle()"
                class="w-96 flex-auto px-4 py-3 text-sm font-medium tracking-wider text-gray-100 uppercase transition-colors duration-200 transform bg-gray-700 rounded-lg hover:bg-gray-600 focus:bg-gray-600 focus:outline-none">
                <fa-icon [icon]="faSearch" class="mr-2"></fa-icon><span class="md:inline hidden">Cerca</span>
            </button>
        </div>
    </div>
</div>
<section class="bg-white dark:bg-gray-900 z-10 mt-2">
    <div class="container px-6 py-8 mx-auto">
        <div class="lg:flex lg:-mx-2">
            <div class="space-y-3 lg:w-1/5 lg:px-2 lg:space-y-4">
                <a href="#" *ngFor="let item of [0,1,2,3,4]"
                    class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">
                    Filtro {{item}}
                </a>
            </div>

            <div class="mt-6 lg:mt-0 lg:px-2 lg:w-4/5 ">
                <div class="flex items-center justify-between text-sm tracking-widest uppercase ">
                    <p class="text-gray-500 dark:text-gray-300">{{recipes?.length || 0}} Elementi</p>
                    <div class="flex items-center">
                        <p class="text-gray-500 dark:text-gray-300">Sort</p>
                        <select class="font-medium text-gray-700 bg-transparent dark:text-gray-500 focus:outline-none"
                            [disabled]="!recipes || recipes?.length == 0">
                            <option value="#" *ngFor="let item of ['A-Z','Z-A']">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-4 mt-8 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                    <div *ngFor="let recipe of recipes; let i = index">
                        <app-recipe-card [recipe]="recipe"></app-recipe-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="position-floating-button">
    <p-speedDial (onClick)="addRecipe()"></p-speedDial>
</div>