<section class="max-w-4xl p-6 mx-auto bg-white rounded-md border-2 dark:bg-gray-800">
    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white" *ngIf="editMode">Modifica ricetta</h2>
    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white" *ngIf="!editMode">Aggiungi nuova ricetta
    </h2>

    <form class="mt-6" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
            <div>
                <label for="title" class="text-gray-700 dark:text-gray-200">Titolo</label>
                <input aria-describedby="title-help"
                    [ngClass]="{ 'ng-invalid ng-dirty border-red-600 focus:border-red-500 focus:ring-red-500':submitted && f['title'].errors }"
                    class="block w-full mt-1 border focus:outline-none" type="text" formControlName="title" pInputText
                    [(ngModel)]="recipe.title" placeholder="Lager, Pils, Pumpkin Ale, Marzen, Tropical Ipa...">
                <small id="title-help" class="p-error block"
                    *ngIf="submitted && f['title'].errors && f['title'].errors['required']">Titolo è
                    obbligatorio</small>
            </div>

            <div>
                <label for="description" class="text-gray-700 dark:text-gray-200">Descrizione</label>
                <input aria-describedby="description-help"
                    [ngClass]="{ 'ng-invalid ng-dirty border-red-600 focus:border-red-500 focus:ring-red-500':submitted && f['description'].errors }"
                    class="block w-full mt-1  focus:outline-none" type="text" formControlName="description" pInputText
                    [(ngModel)]="recipe.description" placeholder="Lager, Pils, Pumpkin Ale, Marzen, Tropical Ipa...">
                <small id="description-help" class="p-error block"
                    *ngIf="submitted && f['description'].errors && f['description'].errors['required']">Descrizione è
                    obbligatorio</small>
            </div>

            <div>
                <label for="color" class="text-gray-700 dark:text-gray-200">Colore</label>
                <div class="block w-full mt-1 focus:outline-none">
                    <p-dropdown id="color" name="color" [options]="colors" [(ngModel)]="selectedColor"
                        optionLabel="name" [showClear]="true" formControlName="color" placeholder="Seleziona un colore"
                        aria-describedby="color-help"
                        [ngClass]="{ 'ng-invalid ng-dirty border-red-600 focus:border-red-500 focus:ring-red-500':submitted && f['description'].errors }"
                        styleClass="w-full">
                        <ng-template pTemplate="selectedItem">
                            <div class="color-item color-item-value flex" *ngIf="selectedColor">
                                <div class="mr-2" style="height: 20px; width: 20px;"
                                    [ngStyle]="{'background': selectedColor.code }">
                                </div>
                                <div>{{selectedColor.name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-color pTemplate="item">
                            <div class="color-item flex">
                                <div class="mr-2" style="height: 20px; width: 20px;"
                                    [ngStyle]="{'background': color.code }">
                                </div>
                                <div>{{color.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>


                <small id="color-help" class="p-error block"
                    *ngIf="submitted && f['color'].errors && f['color'].errors['required']">Colore è
                    obbligatorio
                </small>
            </div>

        </div>

        <div class="flex justify-end mt-6">
            <button type="button"
                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-500 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
                (click)="goBack()">Annulla</button>
            <button type="button" *ngIf="editMode"
                class="ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-red-500 rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600"
                (click)="deleteRecipe()">Elimina</button>
            <button type="submit"
                class="ml-2 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-700 rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600">Salva</button>
        </div>
    </form>
</section>